<?xml version="1.0" encoding="utf-8"?>
<!--
/*************************************************************************************
 * Product: Spin-Suite (Making your Business Spin)                                   *
 * This program is free software; you can redistribute it and/or modify it    		 *
 * under the terms version 2 of the GNU General Public License as published   		 *
 * by the Free Software Foundation. This program is distributed in the hope   		 *
 * that it will be useful, but WITHOUT ANY WARRANTY; without even the implied 		 *
 * warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.           		 *
 * See the GNU General Public License for more details.                       		 *
 * You should have received a copy of the GNU General Public License along    		 *
 * with this program; if not, write to the Free Software Foundation, Inc.,    		 *
 * 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA.                     		 *
 * For the text or an alternative of this public license, you may reach us    		 *
 * Copyright (C) 2012-2014 E.R.P. Consultores y Asociados, S.A. All Rights Reserved. *
 * Contributor(s): Yamel Senih www.erpconsultoresyasociados.com				  		 *
 ************************************************************************************/
 -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.spinsuite.base"
    android:versionCode="8"
    android:versionName="Beta 2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/spinsuite_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
     	
        <activity
            android:name="org.spinsuite.login.Login"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.spinsuite.login.T_Connection" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_Menu" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_MenuSync" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.TV_Base" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.TV_DynamicActivity" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_StandardSearch" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_ProductSearch" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.V_Process" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_AttachView" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
	</application>
</manifest>