<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.spinsuite.base"
    android:versionCode="8"
    android:versionName="Beta 2.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> 
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/spinsuite_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
     	
        <activity
            android:name="org.spinsuite.login.Login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="org.spinsuite.login.T_Connection" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_Menu" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.TV_Base" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.TV_DynamicActivity" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.LV_Search" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
        <activity android:name="org.spinsuite.view.V_Process" android:label="@string/app_name" android:configChanges="orientation|screenSize"> </activity>
	</application>
</manifest>